#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /*number of columns*/
    gap: 5px;
    max-width: 500px; /*width of the keyboard*/
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /*height of the keys*/
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

textarea {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    height: 100px;
}
